.vert-fill{
  min-height: 100vh;
}

body{
 min-height: 100vh;
}

.bg-nebula-1 {
  z-index: -10;
  background-image: url('./assets/Nebula-1.png');
  background-size: cover;
}

.bg-cheese-moon {
  position: absolute;
  max-width: 600px;
}

.bg-panel{
  /* background-color:#fd7e14 ; */
  background-color: rgba(253,126,20,.3);
}

.miner{
  display: flex;
  z-index: -1;
position: absolute;
justify-self: center;
}



/* rotation classes */
/* SECTION */
.r1d{
  transform: rotate(+6deg) translate(0px, -455%);
}
.r2d{
  transform: rotate(+12deg) translate(0px, -455%);
}
.r3d{
  transform: rotate(+18deg) translate(0px, -455%);
}
.r4d{
  transform: rotate(+24deg) translate(0px, -455%);
}
.r5d{
  transform: rotate(+30deg) translate(0px, -455%);
}
.r6d{
  transform: rotate(+36deg) translate(0px, -455%);
}
.r7d{
  transform: rotate(+42deg) translate(0px, -455%);
}
.r8d{
  transform: rotate(+48deg) translate(0px, -455%);
}
.r9d{
  transform: rotate(+54deg) translate(0px, -455%);
}
.r10d{
  transform: rotate(+60deg) translate(0px, -455%);
}
.r20d{
  transform: rotate(+120deg) translate(0px, -455%);
}
.r30d{
  transform: rotate(+180deg) translate(0px, -455%);
}
.r40d{
  transform: rotate(+240deg) translate(0px, -455%);
}
.r50d{
  transform: rotate(+300deg) translate(0px, -455%);
}
.r60d{
  transform: rotate(+360deg) translate(0px, -455%);
}
/* .r70d{
  transform: rotate(+70deg);
}
.r80d{
  transform: rotate(+80deg);
}
.r90d{
  transform: rotate(+90deg);
}
.r100d{
  transform: rotate(+100deg); */
}
/* .r200d{
  transform: rotate(+200deg);
}
.r300d{
  transform: rotate(+300deg);
} */
