.shop-soft-scroll {
  transition: ease .5s;
}

.bg-nebula-1 {
  z-index: -10;
  background-image: url('./assets/Nebula-1.png');
  background-size: cover;
}

.bg-cheese-moon {
  position: relative;
  min-height: 50vh;
}

.miner{
  z-index: -1;
position: absolute;
transform: rotate(50deg);
}

/* rotation classes */
/* SECTION */
.r1d{
  transform: rotate(+6deg);
}
.r2d{
  transform: rotate(+12deg);
}
.r3d{
  transform: rotate(+18deg);
}
.r4d{
  transform: rotate(+24deg);
}
.r5d{
  transform: rotate(+30deg);
}
.r6d{
  transform: rotate(+36deg);
}
.r7d{
  transform: rotate(+42deg);
}
.r8d{
  transform: rotate(+48deg);
}
.r9d{
  transform: rotate(+54deg);
}
.r10d{
  transform: rotate(+60deg);
}
.r20d{
  transform: rotate(+120deg);
}
.r30d{
  transform: rotate(+180deg);
}
.r40d{
  transform: rotate(+240deg);
}
.r50d{
  transform: rotate(+300deg);
}
.r60d{
  transform: rotate(+360deg);
}
/* .r70d{
  transform: rotate(+70deg);
}
.r80d{
  transform: rotate(+80deg);
}
.r90d{
  transform: rotate(+90deg);
}
.r100d{
  transform: rotate(+100deg); */
}
/* .r200d{
  transform: rotate(+200deg);
}
.r300d{
  transform: rotate(+300deg);
} */
